
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: rgb(108, 140, 127);
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: right;

}

#navbar ul li a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
}

#navbar ul li a:hover {
    background-color: #023917;
}

header h1 {
    text-align:center ;
}

footer {
    background-color: rgb(108, 140, 127);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}